<div class="jumbotron">
  <h1>Тестовое задание</h1>

  <h2>1 шаг</h2>

  <p>- Форма с контактными данными (Имя х, email х, страна х, название компании х, описание компании).</p>

  <p>- Валидация формы при переходе на второй шаг (поля со х обязательны к заполнению). Вывод сообщений об ошибке.
    Переход только если все поля валидны.</p>

  <p> - Сохранение данных в localStorage и вывод в форме при повторном открытии страницы.</p>

  <p>- Урл для этого шага "step1"</p>

  <h2>2 шаг</h2>

  <p>- Выбор предложения из стандартного набора (3 предложения разной стоимостью: $100, $200, $300).
    Визуально отобразить как блоки: Название, описание, стоимость и кнопка "Выбрать".</p>

  <p>- Select смены валюты.
    Пересчет стоимостей в зависимости от выбранной валюты и отображение в блоке.</p>

  <p>- Отправка всех данных (Имя х, email х, страна х, название компании х, описание компании, название выбраного
    предложения, выбраная валюта)
    при нажатии на кнопку "Отправить заявку" на урл '/order/create/'.</p>

  <p> - Урл для этого шага "step2".</p>

  <p>
    <a class="btn btn-lg btn-primary" href="/step1" role="button">Сделать заявку</a>
  </p>
</div>